<div>
    <h1>Grocery List</h1>
    <div *ngIf="groceryList && groceryList.length > 0">
        <ul>
            <li *ngFor="let item of groceryList">
                <p>ID: {{ item.id }}</p>
                <p>Name: {{ item.name }}</p>
                <p>Unit: {{ item.unit }}</p>
                <p>Quantity: {{ item.quantity }}</p>
            </li>
        </ul>
    </div>
    <div *ngIf="!groceryList || groceryList.length === 0">
        <p>No items found in the grocery list.</p>
    </div>
    <div class="text-center bottom-element">
        <button class="button wide primary block center" (click)="goBack()">Go back</button>
    </div>
</div>
