<div id="page">
    <h1><b>Grocery List</b></h1>
    <div *ngIf="groceryList && groceryList.length > 0">
        <ul>
            <li *ngFor="let groceryItem of groceryList">
                {{ groceryItem.name }}: {{ groceryItem.quantity}} {{ groceryItem.unit }}
                <!-- Add additional properties if needed -->
            </li>
        </ul>
    </div>
    <div *ngIf="!groceryList || groceryList.length === 0">
        <p>No items found in the grocery list.</p>
    </div>
    <div class="text-center bottom-element">
        <button class="button wide primary block center" (click)="goBack()">Go back</button>
    </div>
</div>
