<!DOCTYPE html>
<!-- recipes.component.html -->
<h1>Your Recipes</h1>
<h4>Let's have a look at your favourites</h4>
<h3>Your likes</h3>
<div class="liked-recipes">
    <!-- recipes.component.html -->
    <div *ngFor="let index of recipeIndices" class="recipe-small-view">
        <div class="image-with-border">
            <img [src]="liked_urls[index]" alt="Image of {{ liked_recipes[index].name }}">
            <button class="btn btn-outline-secondary" (click)="toggle_like_Heart(index)">
                <i [class]="liked_recipes_liked[index] ? 'bi bi-heart-fill text-danger' : 'bi bi-heart'"></i>
            </button>

            <p class = "recipe_name">{{ liked_recipes[index].name }}</p>
        </div>
    </div>
</div>
<h3>Your nono's</h3>
<div class="disliked-recipes">
    <!-- recipes.component.html -->
    <div *ngFor="let index of recipeIndices" class="recipe-small-view">
        <div class="image-with-border">
            <img [src]="liked_urls[index]" alt="Image of {{ liked_recipes[index].name }}">
            <button class="btn btn-outline-secondary"  (click)="toggle_like_Heart(index)">
                <i class="bi bi-heart" [class.red] = "liked_recipes_liked[index]"></i>
            </button>

            <p class = "recipe_name">{{ liked_recipes[index].name }}</p>
        </div>
    </div>
</div>

 <button class="recipe-generation" (click)="sendRecipeRequest()">
     generate
 </button>
<div *ngIf="showedrecipe; else noRecipe">
    <p>{{ showedrecipe }}</p>
</div>
<ng-template #noRecipe>
    <p>No recipe generated yet.</p>
</ng-template>

<!-- Similar setup for disliked recipes -->
<app-bottom-navigation></app-bottom-navigation>