<div id="page">
    <h1><b>Attendences</b></h1>
    <br>
    <h2>December</h2>
    <section class="month">
        <div class="calendar">
            <div *ngFor="let date of dates">
                <div class="calendar-date" [ngClass]="{ 'clicked': isDateClicked(date), 'past': date.past }" (click)="onDateClick(date)">
                    {{ getDay(date) }}
                </div>
            </div>
        </div>
    </section>
    <br>
    <h2> January </h2>
    <section class="month">
        <div class="calendar">
            <div *ngFor="let date of nextMonthDates">
                <div class="calendar-date" [ngClass]="{ 'clicked': isDateClicked(date), 'past': date.past }" (click)="onDateClick(date)">
                    {{ getDay(date) }}
                </div>
            </div>
        </div>
    </section>
    <div class="back-button-container">
        <button class="button" (click)="goBack()">Confirm attendances</button>
    </div>

</div>
