@import "../../../styles";
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
  gap: 2px; /* Adjust the gap between date circles */
}

.calendar-date {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 5px 3px;
}

.clicked {
  background-color: $medium-green;
  color: $white;
}

.calendar-date:nth-child(7n + 1) {
  margin-left: 5px; /* Set margin-left to 0 for the first circle in each row */
}

.calendar-date:nth-child(7n) {
  margin-right: 5px; /* Set margin-right to 0 for the last circle in each row */
}

.back-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.back-button:hover {
  background-color: #0056b3;
}

.past {
opacity: 0.5;  /* Adjust the opacity or any other styling as needed for past dates */
pointer-events: none;  /* Make past dates non-clickable */
}

.month {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

#page {
  height: 100%;
}

body, html {
  padding:0;
  margin: 0;
}