<div class="modal-header">
    <h1 class="modal-title" id="exampleModalLabel">Choose a dish for {{ day }}</h1>
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>
<div class="modal-body">
    <h2>Pick a favorite</h2>
    <div class="recipe-cards">
        <div class="recipe-card" *ngFor="let recipe of liked_recipes" [class.selected]="recipe.isSelected" (click)="selectRecipe(recipe, combined_recipes)">
            <img [src]="recipe.url" alt="Recipe Image" class="recipe-image">
            <p class="recipe-name">{{ recipe.name }}</p>
        </div>
    </div>
    <h2>Or try something new</h2>
    <div class="recipe-cards">
        <div class="recipe-card" *ngFor="let recipe of Nonliked_recipes" [class.selected]="recipe.isSelected" (click)="selectRecipe(recipe, combined_recipes)">
            <img [src]="recipe.url" alt="Recipe Image" class="recipe-image">
            <p class="recipe-name">{{ recipe.name }}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="submitSelection(combined_recipes)">Save changes</button>
</div>
