<div class="modal-header">
  <h2>Pick a favorite</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <div class="recipe-cards">
    <div class="recipe-card-outer text-center" *ngFor="let recipe of liked_recipes" >
      <div class="recipe-card" [class.selected]="recipe.isSelected"  (click)="selectRecipe(recipe, combined_recipes)">
        <img [src]="recipe.url" alt="Recipe Image" class="recipe-image">
      </div>
      <p class="recipe-name">{{ recipe.name }}</p>
    </div>
  </div>

  <h2>Or try something new</h2>
  <div class="recipe-cards">
    <div class="recipe-card-outer text-center" *ngFor="let recipe of Nonliked_recipes" >
      <div class="recipe-card" [class.selected]="recipe.isSelected"  (click)="selectRecipe(recipe, combined_recipes)">

      <img [src]="recipe.url" alt="Recipe Image" class="recipe-image">
      </div>
      <p class="recipe-name">{{ recipe.name }}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="button dark-gray" aria-label="Close" (click)="closeModal()">Close</button>
  <button type="button" class="button dark-green" (click)="submitSelection(combined_recipes)">Save changes</button>
</div>