.recipe-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recipe-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin: 8px;
  background-color: #EEF2ED;
}

.recipe-card.selected {
  background-color: #e0e0e0;
}

.recipe-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.recipe-name {
  margin-top: 8px;
}
