<!DOCTYPE html>
<html>
<head>
    <title>Allergies</title>
</head>
<body>
<div>
    <h1>What are your allergies?</h1>
</div>

<div>
    <!-- Display fetched preferences as buttons/options -->
    <button *ngFor="let preference of preferences" (click)="selectAllergies(preference)">
        {{ preference.allergie }} <!-- Assuming 'name' is the property in the preference object -->
    </button>
</div>

<div>
    <button (click)="redirectToSignUpPage()">Continue</button>
</div>
<div>
    <button (click)="redirectToDietaryPreferencePage()">Back</button>
</div>
<router-outlet></router-outlet>
</body>
</html>