<head>
    <title>Meal Plans Home Page</title>
</head>

<div id="page" class="bottom-element">
    <app-default-header [title]= "'Your Meal-Plans'" [subtitle]="'What will we have today?'"> </app-default-header>
    <br>
    <section *ngFor="let family of families">
        <div class="family-container">
            <h2>{{ family.family_name }}</h2>
            <button class="circular-button add" (click)="navigateToCalender(family.family_id)"></button>
            <button *ngIf="family.is_admin" class="circular-button plus" (click)="navigateToAddMealPlan(family.family_id, family.family_name)"></button>
            <button *ngIf="family.is_admin" class="circular-button cart" (click)="navigateToGroceryList()"></button>
        </div>

        <div class="scrollable-card-container">

            <ng-container *ngIf="family.mealplans && family.mealplans.length > 0; else noMealPlans">
                <div class="meal-card-container center">
                    <div class="meal-card" *ngFor="let day of family.mealplans">
                        <div class="card-body">
                            <p class="text-large"><b>{{day.day_of_week}}</b></p>
                            <p class="recipe">{{day.name}}</p>
                            <div class="row">
                                <div class="col text-center center">
                                    <img src="{{day.url}}" class="round-img ">
                                    <div>
                                    <span [ngClass]="{'attend': day.will_attend, 'not-attend': !day.will_attend}">
                                    {{ day.will_attend ? '✔ Attending' : '✘ Attending' }}
                                    </span>
                                    </div>

                                </div>
                                <div class="col">
                                    <ng-container *ngIf="day.users.length > 0; else noAttendees">
                                        <p class="card-title">Attendees:</p>
                                        <p class="card-text">
                                            <ng-container *ngFor="let user of day.users; let last = last">
                                                {{ user.user_name }}{{ !last ? ',' : '' }}
                                            </ng-container>
                                        </p>
                                    </ng-container>
                                    <ng-template #noAttendees>
                                        <p class="card-text">No attendees</p>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </ng-container>
        <ng-template #noMealPlans>
            <!-- Display text when no meal plans are available -->
            <p id="not-available">No Meal-Plan has been made yet.</p>
        </ng-template>

    </div>
        <br>

    </section>
</div>

<app-bottom-navigation></app-bottom-navigation>


