<!DOCTYPE html>
<head>
    <title>Meal Plans Home Page</title>
</head>

<div id="page">
    <app-default-header [title]= "'Your Meal-Plans'" [subtitle]="'What will we have today?'"> </app-default-header>

    <section class="bottom-element">
        <div class="family-container">
            <h2>Family 1</h2>
            <button class="circular-button add" (click)="navigateToCalender()"></button>
            <button class="circular-button plus" (click)="navigateToAddMealPlan()"></button>
            <button class="circular-button plus" (click)="navigateToGroceryList()"></button>
        </div>
        <div class="container mt-4">
            <div class="card bg-light">
                <div class="card-body scrolling-wrapper scrollable-card-container">
                    <div class="card" *ngFor="let day of days">
                        <img src="{{day.image}}" class="card-img-top" alt="Image 1" width="250px" height="250px">
                        <div class="card-body">
                            <p class="card-title"> {{day.weekday}}</p>
                            <p class="card-title">Attendees</p>
                            <p class="card-text">{{ day.attendees.join(', ') || 'No attendees' }}</p>

                            <span [ngClass]="{'attend': day.willAttend, 'not-attend': !day.willAttend}">
                            {{ day.willAttend ? '✔ Attending' : '✘ Not Attending' }}
                            </span>
                            <button class="circular-button refresh"></button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<app-bottom-navigation></app-bottom-navigation>
