.profile-picture {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  object-fit: cover;
  margin-bottom: 5%;
  margin-top: 3em;
}

form {
  padding-right: 5%;
  padding-left: 5%;
}

#dietaryPreference {
  margin-top: 20px;
  margin-bottom: 20px;
}