<div id="full-page-center">
    <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="form-widget center">
        <!-- Display user profile picture -->
        <div class="text-center">
            <label for="profilePicture" class="profile-picture-label">
                <img *ngIf="user?.picture_url" [src]="user.picture_url" (error)="handleImageError(user)" alt="Profile Picture" class="profile-picture" />
                <input style="display: none;" type="file" id="profilePicture" (change)="onFileInputChange($event)" accept="image/*" />
                <p>Click on your profile picture to change it</p>
            </label>
        </div>
        <h2 class="text-center">{{profile.first_name}} {{profile.name}}</h2>
        <p>Click to change your preferences</p>
        <button type="button" class="button-gray-border"  href="#" (click)="navigateToAllergies()">Change your allergies</button>
        <button type="button" class="button-gray-border" id="dietaryPreference" href="#" (click)="navigateToDietaryPreference()">Change your dietary preference</button>

        <p>Change your information</p>
        <mdb-form-control class="mb-4">
            <input mdbInput type="firstname" id="firstname" formControlName="firstname" class="form-control" />
            <label mdbLabel class="form-label" for="firstname">First Name</label>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
            <input mdbInput type="lastname" id="name" formControlName="name" class="form-control" />
            <label mdbLabel class="form-label" for="name">Last Name</label>
        </mdb-form-control>

        <div class="text-center">
            <button type="submit" class="button dark-green wide primary block center" [disabled]="loading">
                {{ loading ? 'Loading ...' : 'Update Information' }}
            </button>
        </div>
        
        <div class="text-center bottom-element">
            <button type="button" class="button wide primary block center" (click)="signOut()">Sign out</button>
        </div>

    </form>

</div>
<app-bottom-navigation></app-bottom-navigation>

