<!-- app.component.html -->
<main>
<form (ngSubmit)="supabaseLogin()" [formGroup]="credentials">
    <div class="input-group">
    <ul>
        <li>Login</li>
        <li>
        <input
            class="ion-margin-top"
            type="email"
            placeholder="john@doe.com"
            formControlName="email"
        />
        </li>
        <li>
        <input
            class="ion-margin-top"
            type="password"
            placeholder="password"
            formControlName="password"
        />
        </li>
    </ul>
    </div>
    <button
    class="ion-margin"
    type="submit"
    >
    Log in
    </button>
</form>
    <button (click)="redirectToSignUpPage()">Sign Up</button>
</main>
  