<div id="full-page-center">
    <div id="header">
        <h2 class="text-center">{{ name }}</h2>
    </div>

    <div class="recipe-detail-card center">
        <img
                class="recipe-detail-image"
                [src]="imageUrl"
                alt="Image of {{ name }}"
                onerror="this.onerror=null;this.src='path/to/default-image.jpg';"
                aria-label="Recipe Image">

        <div class="buttons">
            <button class="button-back" (click)="like_recommended_recipe()">
                <i [class]="liked ? 'bi bi-heart-fill text-danger' : 'bi bi-heart'"></i>
            </button>
            <button class="button-back" (click)="unlike_recommended_recipe()">
                <i [class]="disliked ? 'bi bi bi-hand-thumbs-down-fill' : 'bi bi-hand-thumbs-down'"></i>
            </button>
        </div>

        <section *ngIf="ingredients.length > 0">
            <h3><b>Ingredients</b></h3>
            <ul class="ingredients" role="list">
                <li *ngFor="let ingredient of ingredients" role="listitem">{{ formatName(ingredient.name) }}: {{ ingredient.quantity }} {{ ingredient.unit }}</li>
            </ul>
        </section>

        <section *ngIf="allergies.length > 0">
            <h3><b>Allergies</b></h3>
            <ul class="allergies" role="list">
                <li *ngFor="let allergy of allergies" role="listitem">{{ allergy }}</li>
            </ul>
        </section>

        <section *ngIf="steps">
            <h3><b>Steps</b></h3>
            <p class="steps">{{ steps }}</p>
        </section>
    </div>
    
</div>
<app-bottom-navigation></app-bottom-navigation>
