@import "../../styles";
.boxes {
  display: flex; /* Lays out the children in a line */
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Ensures the divs don't wrap */
  }
  
  /* Styles for the images */
  .image-with-border img {
    width: 120px; /* Fixed width for the image */
    height: 120px; /* Fixed height for the image */
    border-radius: 50%; /* Makes the image circle shaped */
    margin-top: 25px; /* Centers the image vertically */
    object-fit: cover; /* Ensures the image covers the area properly */
    display: inline-block; /* This will allow the image to be centered by text-align */
  }

.recipe-small-view p {
  text-align: center;
  margin-top: 0;
}

.recipe-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin: 8px;
  background-color: $light-green;
  position: relative; /* Needed for absolute positioning of the heart button */
  width: 150px; /* Fixed width */
  height: 200px; /* Fixed height */
  display: inline-block; /* Display inline with block features */
}

.recipe-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.recipe-name {
  padding-top: 0.5em;
  width: 150px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 0.9em;
}

  .card {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-right: 5%;
    box-shadow: 0 4px 10px rgba(4, 25, 3, 0.1);

  }
  .card-body {
    background-color: $white;
    border-radius: 8px;
  }
  .user-container {
    display: flex;
    align-items: center;
  }
  
  .user-container-text {
    margin-top: 0;
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  
  #family-id {
    font-size: 0.6em;
    margin-bottom: 0;
  }
  
  #full-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #new-family, #create-family {
    width:80%;
    margin-left: 10%;
  
  }

  #not-available {
    color: $dark-gray;
    margin-left: 1em;
  }
  